{
    "passPerPreset": true,
    "presets": [
        "next/babel",
        "@babel/env"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "modules": "commonjs"
                    }
                ],
                "next/babel"
            ]
        }
    }
}
